# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
*.pem

# Ansible
*.retry
.ansible/
ansible/*.retry

# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
*.log
