[defaults]
collections_path = /cloudlab/ansible-venv/lib/python3.10/site-packages/ansible_collections:/cloudlab/ansible/collections:/root/.ansible/collections:/usr/share/ansible/collections
ansible_python_interpreter = /cloudlab/ansible-venv/bin/python3
